.icon.github {
  width: 2.5rem;
  height: auto;
}

.icon.github:hover {
  animation: rotate 1500ms infinite linear;
  color: #7371fc;
}

.icon.logo {
  width: 10rem;
  height: auto;
}

/* .icon.logo:hover { */
.nav-left a:hover {
  animation-name: wobble;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  image-rendering: -webkit-optimize-contrast;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes wobble {
  from {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
  }

  to {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
  }
}

@media (hover: none) {
  .nav-left a {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
  }

  .icon.github {
    color: #7371fc;
  }
}
