@font-face {
  font-family: Libre Franklin;
  src: url(../assets//fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf);
}

:root {
  --font-family-primary: Libre Franklin, Arial, Helvetica, sans-serif;
  --background-color-primary: #e5d9f2;
  --background-color-secondary: #9395d3;
  --background-color-footer: var(--background-color-secondary);
  --background-color-accent: #7371fc;
  --font-color-primary: #000807;

  /* 
   * FBF9FF
   * B3B7EE
   * A2A3BB
   * 7371fc
  */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  height: 100svh;
  font-family: var(--font-family-primary);
}
