.modal.game-over {
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 400px;
}

.modal.game-over::backdrop {
  background: rgba(57, 57, 57, 0.6);
}

.modal.game-over .container {
  padding: 1rem;
}

.modal.game-over .btn-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.modal.game-over button {
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 0.5rem;
}

.modal.game-over button:hover {
  cursor: pointer;
}
