#notifications {
  flex: 1;
  display: flex;
  padding: 0.5rem;
  align-items: center;
}

#notifications .messages {
  text-align: center;
  font-weight: 500;
}

#notifications .messages .slide {
  animation-name: slide-from-left;
  animation-duration: 350ms;
  /* The cubic-bezier causes overflow on the right */
  /* animation-timing-function: cubic-bezier(0.23, 0.71, 0.81, 1.4); */
  animation-fill-mode: backwards;
}

@media screen and (min-width: 480px) {
  #notifications {
    justify-content: center;
    flex-direction: row;
  }

  #notifications .messages {
    min-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  #notifications .messages .slide {
    animation-name: slide-from-top;
    animation-duration: 350ms;
    animation-timing-function: cubic-bezier(0.23, 0.71, 0.81, 1.4);
    animation-fill-mode: backwards;
  }
}

@keyframes slide-from-top {
  from {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
